.container {
  max-width: 90%;
  margin: 50px auto;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  border: solid 1px #d3d3d3;
  text-align: center;
}
.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}
.calculator {
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: center;
}
.input-group {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 1rem;
  border: solid 1px #cdcdcd;
  border-radius: 8px;
  margin-bottom: 1.5rem;
  flex: 1;
}
.input-group label {
  font-weight: 600;
  margin-bottom: 5px;
  font-size: 1rem;
}

.input-group h3 {
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.input-group input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.total {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
}
.total span {
  color: #007bff;
}
.tabs {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
  background-color: #f4f4f4;
  width: 100%;
}

.tabs button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  background-color: #f4f4f4;
  border-radius: 5px;
  flex: 1;
}

.tabs button.active {
  background-color: #007bff;
  color: white;
  font-weight: bold;
}
